{% extends "base.html" %} {% block content %}

<h1>DETECT EMOTION BY THEIR FACE</h1>
<div id="animation" style="width:300px; margin:0 auto;">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_cznnfmoz.json" background="transparent"  speed="2"  style="width: 300px; height: 300px;" hover loop controls autoplay></lottie-player>

</div>
<div>
    <form id="upload-file" method="post" enctype="multipart/form-data" >
        <label for="imageUpload" class="upload-label" style="width:600px; margin:0 auto;">
          <h3><center>Choose/Upload a Image...</center></h3> 
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display: contents;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>
</div>

{% endblock %}